<!-- start custom head snippets -->

<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/icon/hot-cup-of-coffee-114-246152.png" type="image/x-icon"> 

<link rel="apple-touch-icon" href="/assets/icon/hot-cup-of-coffee-57-246152.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/hot-cup-of-coffee-72-246152.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/hot-cup-of-coffee-114-246152.png">


<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
